<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${python_exe}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;${workspace_loc:/python_scripts/suota/v11/initial_flash.py}&quot; &quot;--secure_config&quot; &quot;${workspace_loc:/python_scripts/secure_image/secure_img_cfg.xml}&quot; &quot;--keys&quot; &quot;${workspace_loc:/python_scripts/secure_image/product_keys.xml}&quot; &quot;--jlink_path&quot; &quot;${jlink_path}&quot; &quot;${project_loc}/${config_name:${project_name}}/${project_name}.bin&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc}"/>
</launchConfiguration>
